.custom-header{
    --background: #a4c639;
}
.custom-heading-text{
    color: #fff;
}
.homepage-slider{
    margin-top: 5px;
}
.homepage-main-text{
    padding-left: 5px;
}
.item-card-wrapper{
    margin: 3px;
}
.price-section{
    
}