.forgotpassword{
    /* background: linear-gradient(
        180deg
        , rgb(125, 180, 50) 100%, rgb(141, 196, 69) 0%); */
    /* background: greenyellow; */
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotpassword-inner{
    /* background: chocolate; */
    height: 100%;
    width: 580px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotpassword-header{
    height: 200px;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotpassword-header p{
    color: black;
    padding-right: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Validate otp */
.validateotp-field{
    /* background: blue; */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validateotp-field-inner{
    /* background: brown; */
    width: 640px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Change password */
.changepassword{
    /* background: chartreuse; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepassword-inner{
    /* background: chocolate; */
    width: 580px;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepassword-span{
    background: rgb(129, 214, 2);
    font-weight: 600;
    color: white;
}


.changepassword-btn{
    margin-top: 15px;
}