.account-btn{
  background:transparent;
  border-radius: 16px;
  float: right;
}

.account-btn:hover{
  background: rgb(38, 175, 25);
}

.login-form{
  overflow: auto;
  background: transparent;
  margin-top: 30px;
  min-height: 60vh;
}

h1{
  color: rgb(37, 146, 15);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; 
}

.wrap-input100{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.wrap-input100>input{
  /* margin-left: 10%; */
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
}

.wrap-input100>input:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.login-form-btn{
  position: absolute;
  /* top: 50%; */
  margin-top: 10%;
  left: 28%;
  transform: translate(-50%, -50%);
}


.login-form-btn {
  background: none;
  color: #ccc;
  width: 100px;
  height: 45px;
  border: 1px solid #338033;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  /* overflow: hidden; */
 }
 
 .login-form-btn:focus {
  outline: none;
 }  
 
 .login-form-btn:before {
     content: '';
     display: block;
     position: absolute;
     background: rgba(255,255,255,.5);
     width: 60px;
     height: 100%;
     left: 0;
     top: 0;
     opacity: .5;
     filter: blur(30px);
     transform: translateX(-130px) skewX(-15deg);
 }
 
 .login-form-btn:after {
     content: '';
     display: block;
     position: absolute;
     background: rgba(255,255,255,.2);
     width: 30px;
     height: 100%;
     left: 30px;
     top: 0;
     opacity: 0;
     filter: blur(30px);
     transform: translateX(-100px) scaleX(-15deg);
 }
 
 .login-form-btn:hover {
    background: #338033;
    cursor: pointer;
 }
 
 .login-form-btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
 }
 
 .login-form-btn:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
 }

 .signup-form-btn{
  position: absolute;
  /* top: 50%; */
  margin-top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
}


.signup-form-btn {
  background: none;
  color: #ccc;
  width: 100px;
  height: 45px;
  border: 1px solid #338033;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  /* overflow: hidden; */
 }
 
 .signup-form-btn:focus {
  outline: none;
 }  
 
 .signup-form-btn:before {
     content: '';
     display: block;
     position: absolute;
     background: rgba(255,255,255,.5);
     width: 60px;
     height: 100%;
     left: 0;
     top: 0;
     opacity: .5;
     filter: blur(30px);
     transform: translateX(-130px) skewX(-15deg);
 }
 
 .signup-form-btn:after {
     content: '';
     display: block;
     position: absolute;
     background: rgba(255,255,255,.2);
     width: 30px;
     height: 100%;
     left: 30px;
     top: 0;
     opacity: 0;
     filter: blur(30px);
     transform: translateX(-100px) scaleX(-15deg);
 }
 
 .signup-form-btn:hover {
    background: #338033;
    cursor: pointer;
 }
 
 .signup-form-btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
 }
 
 .signup-form-btn:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
 }

 .errorMessage{
   color: firebrick;
   font-size: 18px;
   margin-left: 36%;
 }