.changepassword{
    /* background: chartreuse; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepassword-inner{
    /* background: chocolate; */
    width: 580px;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepassword-span{
    background: rgb(129, 214, 2);
    font-weight: 600;
    color: white;
}


.changepassword-btn{
    margin-top: 15px;
}